<h1>Shops</h1>

<ul>
<% @shops.each do |shop| %>
  <li><%= link_to shop.name, shop_path(shop) %></li>
  <li><%= shop.address %></li>
<% end %>
</ul>
<br />
<%= link_to 'Add a coffee shop', new_shop_path %>
