<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Someone just reviewed the shop you added!</h3>
    <p>Thanks again for contributing!</p>
  </body>
</html>
